
.jumbotron {
  width: 90%;
  margin: 50px;
}
.card-body {
  color: black;
}

.card-header {
  color: black;
}

.lead {
  text-align: center;
  color: aliceblue;
  margin-bottom: 10px;
}
#content{
  margin-bottom: 30px;
}
h6 {
  margin: 30px;
}
#content{
  font-size: 58px;
  margin-bottom: 20px;
  margin-top: -20px;
}
img {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;

}
.container{
  background-color: rgb(77, 71, 64);
}
#cuw {
  margin:20px;
  margin-left:-2px;
}
#compNum {
  margin:5px;
  background-color: rgb(71, 194, 143);
}

#userNum {
  margin: 5px;
  background-color: rgb(71, 194, 143);
}

#wins {
  margin:5px;
  background-color: rgb(71, 194, 143);
}

#losses {
  margin:5px;
  background-color:rgb(71, 194, 143);
}
.responsive {
  max-width: 100%;
  height: auto;
}