
.jumbotron {
  width: 90%;
  margin: 50px;
}
.card-body {
  color: black;
}

.card-header {
  color: black;
}

.lead {
  text-align: center;
  color: aliceblue;
  margin-bottom: 50px;
}
#content{
  margin-bottom: 30px;
}
h6 {
  margin: 30px;
}
#content{
  font-size: 58px;
  margin-bottom: 20px;
  margin-top: -20px;
}