.jumbotron {
  width: 90%;
  margin-left: 50px;
}
.card-body {
  color: black;
}

.card-header {
  color: black;
}

.lead {
  text-align: center;
  color: aliceblue;
  margin-bottom: 50px;
}
#crystal {
  padding-top: 30px;
  font-size: 24px;
}
#content{
  margin-left: 15%;
}